

.board {
    display: grid;
    grid-template-columns: repeat(11, 47px);
    grid-template-rows: repeat(19, 40px);
    column-gap: 20px; /* odstêpy miêdzy komórkami */
    
   place-items: center; /* Centrowanie wertykalne i horyzontalne */
    
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #000; /* kolor kropki */
    border-radius: 50%; /* aby uzyskaæ kszta³t kropki */
    position: static;
    cursor: pointer; /* kursor wskazuj¹cy na to, ¿e mo¿na klikn¹æ */
    display:flex;
}


.blankdot {
    background-color: white;
    border: none;
}

#blue-ring {
    display: inline;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: 2px solid #0000FF;
    border-radius: 50%;
    position: absolute; /* Absolutna pozycja wewn¹trz .dot */
    flex:1;

    
}
#orange-ring {
    display: inline;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: 2px solid #ffa500;
    border-radius: 50%;
    position: absolute; /* Absolutna pozycja wewn¹trz .dot */
    flex: 1;
    z-index: 3;
}


.board div.highlighted {
    background-color: red;
}
.board div.highlighted2 {
    background-color: red;
}
.board div[data-available="false"] {
    background-color: gray;
}